# symlinked from /etc/systemd/system
[Unit]
Description=Gunicorn instance to serve Flask API
After=network.target

[Service]
User=www-data
WorkingDirectory=/var/www/website-api
ExecStart=/var/www/website-api/.venv/bin/gunicorn wsgi:app
Restart=always

[Install]
WantedBy=multi-user.target
