# symlinked from /etc/nginx/sites-available
server {
	listen 80;
	root /var/www/website-prod;
	index index.html;

	access_log /var/log/website/nginx.access.log;
	error_log /var/log/website/nginx.error.log;

	location / {
		try_files $uri $uri/ =404;
	}

	location /api {
		include proxy_params;
		proxy_pass http://localhost:5000;
	}
}

server {
	listen 8080;
	root /var/www/website-dev;
	index index.html;

	access_log /var/log/website/nginx-dev.access.log;
	error_log /var/log/website/nginx-dev.error.log;

	location / {
		try_files $uri $uri/ =404;
	}

	location /api {
		include proxy_params;
		proxy_pass http://localhost:5050;
	}
}
